<div class="row">
  <div class="col-sm-12 content-header">
    <div>Showing {{offset}} - {{offset+limit}} of {{count}} results.</div>
    <div ng-controller="searchRetagController">
      <button class="btn btn-sm btn-default" ng-click="toggleSelection()">
        {{(nselected != 0) ? "Unselect all" : "Select all"}}
      </button>
      <div class="btn-group" role="group" aria-label="...">
        <button class="btn btn-sm btn-default" ng-repeat="retag in retag_list"
                ng-disabled="(nselected == 0)"
                ng-click="doRetag(threads,retag)">
          {{retag.name}}
        </button>
      </div>
    </div>      
  </div>
</div>
<div class="content-body">
  <table class="table table-responsive table-striped table-condensed small">
    <tr  style="height:20px; text-overflow:ellipsis; overflow:hidden;" ng-repeat="thread in threads">
      <td data-checkbox="true">
        <input type="checkbox" ng-model="thread.selected" ng-change="selectThread(thread)"></input>
      </td>
      <td>
        <div class="badge">{{thread.count}}</div>
      </td>
      <td>
        <a ui-sref_active="active" ui-sref="home.thread({thread_id: thread.id})">
          <div>{{thread.subject || "(no subject)"}}</div>
        </a>
      </td>
      <td class="col-xs-2">
        <a ui-sref_active="active" ui-sref="home.thread({thread_id: thread.id})">
        <div>
          {{thread.authors.join(',')}}
        </div>
        </a>
      </td>
      <td>
        <div ng-repeat="tag in thread.tags" class="label label-default"
             ng-class="{'label-danger': tag == 'unread', 'label-primary': tag == 'inbox',
                        'label-warning': tag == 'flagged', 'label-info': tag == 'killed',
                        'label-success': tag == 'archive'}">
          {{tag}}
        </div>
      </td>
      <td>
        <div class="small">
          {{thread.newest_date*1000 | date:'dd/MM/yyyy HH:mm:ss'}}
        </div>
      </td>
    </tr>
  </table>
</div> 
