<div class="row">
  <div class="content-header">
    <div class="small col-xs-1" ng-controller="threadRetagController">
      <div class="btn-group" dropdown is-open="status.isopen">
        <button type="button" class="btn btn-defaut btn-sm dropdown-toggle"
                dropdown-toggle ng-disabled="disabled">
          Retag<span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li ng-repeat="retag in retag_list">
            <a ng-click="doRetag(thread,retag)"
               style="cursor:pointer;">
              {{retag.name}}
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-xs-11">
      <div class="badge">{{thread.count}}</div>
      <div ng-repeat="tag in thread.tags" class="span label label-default"
           ng-class="{'label-danger': tag == 'unread', 'label-primary': tag == 'inbox',
                     'label-warning': tag == 'flagged', 'label-info': tag == 'killed',
                     'label-success': tag == 'archive'}">
        {{tag}}
      </div>
    </div>
    <div class="col-sm-12">
      <div class="lead">
        {{ thread.subject }}
      </div>
    </div>
  </div>
</div>

<div class="content-body">
  <msgtree messages="thread.messages"></msgtree>
</div>
